#circular-plot-view{
    height: 510px;
}

.bubbles {
    stroke-width: 2px;
    stroke: white;
  }

  .bubbles:hover {
    stroke: black;
  }

.tooltip-plot{
    background-color: rgb(109, 109, 204); 
    border-radius: 5px; padding: 10px; 
    margin-left: 190px;
    margin-bottom: 160px;
    margin-top: -35px;
    color: white; 
    left: 33px; 
    top: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    width:30%

}

.tooltip {
    position: absolute;
    z-index: 1070;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}