.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.pane {
  background: #fff;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 2px #dddddd; */
}

.header {
  background-color: #eee;
  margin: 5px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 5px;
  height: 30px;
}